@using System.Security.Claims
@using Vroem.MODELS
@model AccountViewModel
@{
    ViewData["Title"] = "Gegevens wijzigen";
    var gebruiker = ViewData["Gebruiker"] as User;
}

<h1>Bewerk Gegevens</h1>

<form asp-action="Bewerk" , asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Voornaam"></label>
        <input type="text" class="form-control" asp-for="Voornaam" placeholder="Vul hier je voornaam in" value="@gebruiker.Voornaam">
        <span asp-validation-for="Voornaam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Achternaam"></label>
        <input type="text" class="form-control" asp-for="Achternaam" placeholder="Vul hier je achternaam in" value="@gebruiker.Achternaam">
        <span asp-validation-for="Achternaam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Enter email" value="@gebruiker.Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gebruikersnaam"></label>
        <input type="text" class="form-control" asp-for="Gebruikersnaam" placeholder="Enter Gebruikersnaam" value="@gebruiker.Gebruikersnaam">
        <span asp-validation-for="Gebruikersnaam" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Woonplaats"></label>
        <input type="text" class="form-control" asp-for="Woonplaats" placeholder="Enter Woonplaats" value="@gebruiker.Woonplaats">
        <span asp-validation-for="Woonplaats" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefoonnummer"></label>
        <input type="text" class="form-control" asp-for="Telefoonnummer" placeholder="Enter telefoonnummer" value="@gebruiker.Telefoonnummer">
        <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
    </div>
    <input type="hidden" name="gegevens" value="user"/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<h1>Verander Wachtwoord</h1>
<form asp-action="Bewerk" , asp-controller="Account" method="post">
   <div class="form-group">
        <label asp-for="Wachtwoord"></label>
        <input type="password" class="form-control" asp-for="Wachtwoord" placeholder="Password">
        <span asp-validation-for="Wachtwoord" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HerhaalWachtwoord"></label>
        <input type="password" class="form-control" asp-for="HerhaalWachtwoord" placeholder="Password">
        <span asp-validation-for="HerhaalWachtwoord" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

